<%if @current_user.present?%>

<%if @current_user.admin == true%>
<div class="mx-3">
  <div>
    <h2>Add a new roster member</h2>

    <%#start bootstrap form code%>
<form action="/insert_roster" method="post">
  <div class="form-group">
    <label for="badge_number">Badge Number</label>
    <input type="text" class="form-control" id="badge_number" name="query_badge_number">
  </div>

  <div>
        <label for="first_name_box">First name</label>
        <input type="text" class="form-control"id="first_name_box" name="query_first_name">
  </div>

  <div>
        <label for="last_name_box">Last name</label>
        <input type="text" class="form-control" id="last_name_box" name="query_last_name">
  </div>

  <div>
        <label for="preferred_name_box">Preferred name</label>
        <input type="text" class="form-control" id="preferred_name_box" name="query_preferred_name">
        <small id="preferred_name_box" class="form-text text-muted">What name should we use for the game?</small>
  </div>

  <div>
        <label for="shift_box">Shift</label>
        <input type="text" class="form-control" id="shift_box" name="query_shift">
  </div>

  <div>
    <label for="department_box">Department</label>
    <input type="text" class="form-control" id="department_box" name="query_department">
  </div>

  <div>
    <label for="role_box">Role</label>
    <input type="text" class="form-control" id="role_box" name="query_role">
  </div>

  <div>
    <label for="image_box">Image</label>
    <input type="text" class="form-control" id="image_box" name="query_image">
  </div>

  <div>
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Add new member</button>
  </div>

<%# <div> #other rows I may want to add
        <label for="draws_count_box">
          Draws count
        </label>

        <input type="text" id="draws_count_box" name="query_draws_count">
      </div> %>

</form>
    <%#end bootstrap form code%>

    
  </div>
</div>
<%end%> 

<%end%>
<hr>

<div class="mx-3">
<div>
  <div><h2>Complete Roster</h2></div>
</div>

<div>
  <div>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Badge number</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Preferred name</th>
        <th>Shift</th>
        <th>Department</th>
        <th>Role</th>
        <th>Image</th>
        <th>Draws count</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th></th>
      </tr>

      <% @list_of_rosters.each do |a_roster| %>
      <tr>
        <td><%= a_roster.id %></td>
        <td><%= a_roster.badge_number %></td>
        <td><%= a_roster.first_name %></td>
        <td><%= a_roster.last_name %></td>
        <td><%= a_roster.preferred_name %></td>
        <td><%= a_roster.shift %></td>
        <td><%= a_roster.department %></td>
        <td><%= a_roster.role %></td>
        <td><img src=<%=a_roster.image %>></td>
        <td><%= a_roster.draws_count %></td>
        <td><%= time_ago_in_words(a_roster.created_at) %> ago</td>
        <td><%= time_ago_in_words(a_roster.updated_at) %> ago</td>
        <td><a href="/roster/<%= a_roster.id %>">Show details</a></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
</div>

<hr>
