<div class="mx-3">
  <div>
    <h3>
      Roster details:  <%= @the_roster.first_name %> <%= @the_roster.last_name %>
    </h3>

    <div>
      

<%if @current_user.present?%>
  <%if @current_user.admin == true%>
      <div>
        <a href="/delete_roster/<%= @the_roster.id %>">
          Delete Member
        </a>
      </div>
    </div>
  <%end%>
<%end%>



    <dl>
      <%# <dt>
        Badge number
      </dt>
      <dd>
        <%= @the_roster.badge_number %>
      <%# </dd> %>

        <%# <dt>
        Draws count
      </dt>
      <dd>
        <%= @the_roster.draws_count%>
      <%# </dd> %>


      <p>
        Image:
      </p>
      <dd>
        <img src="<%= @the_roster.image %>">
      </dd>
      </dl>

        <ul class="list-group">
          <li class="list-group-item">First name: <%= @the_roster.first_name %></li>
          <li class="list-group-item">Last name: <%= @the_roster.last_name %></li>
          <li class="list-group-item">Preferred name: <%= @the_roster.preferred_name %></li>
          <li class="list-group-item">Shift: <%= @the_roster.shift %> </li>
          <li class="list-group-item">Department: <%= @the_roster.department %></li>
          <li class="list-group-item">Role: <%= @the_roster.role %></li>
          <li class="list-group-item">Created: <%= time_ago_in_words(@the_roster.created_at) %> ago </li>
          <li class="list-group-item">Last Updated:  <%= time_ago_in_words(@the_roster.updated_at) %> ago</li>

        </ul>
    <div class="my-2">
      <a href="/roster">Return to Roster </a>
    </div>


    
   
  </div>
</div>



<%if @current_user.present?%>
<%if @current_user.admin == true %>

<hr>

<div class="mx-3">
  <div>
    <h2>
      Edit roster
    </h2>

    <form action="/modify_roster/<%= @the_roster.id %>"  method="post" >
      <div class="my-2">
        <label for="badge_number_box">
          Badge number
        </label>

        <input type="text"  class="form-control" id="badge_number_box" name="query_badge_number" value="<%= @the_roster.badge_number %>">
      </div>

      <div class="my-2">
        <label for="first_name_box">
          First name
        </label>

        <input type="text"  class="form-control" id="first_name_box" name="query_first_name" value="<%= @the_roster.first_name %>">
      </div>

      <div class="my-2">
        <label for="last_name_box">
          Last name
        </label>

        <input type="text" class="form-control" id="last_name_box" name="query_last_name" value="<%= @the_roster.last_name %>">
      </div>

      <div class="my-2">
        <label for="preferred_name_box">Preferred name</label>
        <input type="text"  class="form-control" id="preferred_name_box" name="query_preferred_name" value="<%= @the_roster.preferred_name %>">
      </div>

      <div class="my-2">
        <label for="shift_box">Shift</label>
        <input type="text"  class="form-control" id="shift_box" name="query_shift" value="<%= @the_roster.shift %>">
      </div>

      <div class="my-2">
        <label for="department_box">Department</label>
        <input type="text"  class="form-control" id="department_box" name="query_department" value="<%= @the_roster.department %>">
      </div>

      <div class="my-2">
        <label for="role_box">Role</label>
        <input type="text"  class="form-control" id="role_box" name="query_role" value="<%= @the_roster.role %>">
      </div>

      <div class="my-2">
        <label for="image_box">Image</label>
        <input type="text"  class="form-control" id="image_box" name="query_image" value="<%= @the_roster.image %>">
      </div>

      <div class="my-2">
        <label for="draws_count_box">Draws count</label>
        <input type="text" class="form-control" id="draws_count_box" name="query_draws_count" value="<%= @the_roster.draws_count %>">
      </div>

      <div class="my-2">
        <button class="btn btn-primary">Update roster</button>
      </div>
    </form>
  </div>
</div>

<hr>


<%end%>
<%end%>
