<div class="mx-3">
<h3> Play Results <%=@play_id%></h3>


<div class="card border-primary mb-3" style="width: 18rem;">
  <div class="card-header">
    Summary
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Play: <%=@user_play%></li>
    <li class="list-group-item">Correct: <%=@correct_count.to_i%></li>
    <li class="list-group-item">Incorrect: <%=@incorrect_count.to_i%></li>
    <li class="list-group-item">Accuracy: <%=(@percent)%>%</li>
  </ul>
</div>

<div class="my-4">
  <form action="/new_play">
    <button class="btn btn-primary" autofocus>Play again</button>
  </form>
</div>

<hr>

 <div>
  <table border="1">
  
    <tr>
      <th>Photo</th>
      <th>Correct Answer</th>
      <th>Your Answer</th>
      <th>Points</th>
      <th> </th>
    </tr>

    <%@draw_set.each do |draw|%>

    <tr>
      <%roster_member = Roster.all.where({:id => draw.roster_id}).at(0)%>
      <%img_url = roster_member.image%>

      <td><img src="<%=img_url%>"></td>      
      <td><%=draw.name_match%></td>
      <td><%=draw.name_attempt%></td>
      <td><%=draw.draw_result%></td>
      <td><a href="/roster/<%=draw.roster_id%>">Show details</a></td>
     
    </tr>
    <%end%>
  </table>


 </div>
 </div>


