<h1>Draw Result for <%=session.fetch("draw_number")%></h1>

<div>
  Your Answer: <%=@response%>
</div>

<div>
  Correct Answer: <%=@draw_solution%>
</div>

<div>
  <%if @response == @draw_solution%>
    <%= @result = "correct" %>
  <%else%>
    <%= @result = "incorrect" %>
  <%end%>
</div>

<form>
 
</form>


<hr>

<div>
<% if session.fetch("draw_number") >= 5 %>
    <form action="/view_play_result">
      <input name="draw_present" value=1>
      <input name="draw_result" value="<%=@result%>">
      <input name="draw_response" value ="<%=@response%>">
      <button>View Result</button>
    </form>
<%else%>
    <form action="/new_draw">
       <input name="draw_present" value=1>
       <input name="draw_result" value="<%=@result%>">
       <input name="draw_response" value ="<%=@response%>">
      <button>Next Draw</button>
    </form>
<%end%>
</div>

  