<h1>Draw Result for <%=session.fetch("draw_number")%></h1>

<div>
  Your Answer: <%=@response%>
</div>

<div>
  Correct Answer: <%=@draw_solution%>
</div>

<div>
  <%if @response == @draw_solution%>
    <%= @result = "correct" %>
  <%else%>
    <%= @result = "incorrect" %>
  <%end%>
</div>

<form>
  <input name="draw_result" value="<%=@result%>">
  <input name="draw_response" value ="<%=@response%>">
</form>


<hr>

<% if session.fetch("draw_number") >= 5 %>
  <div>
    <form action="/view_play_result">
      <button>View Result</button>
    </form>
  </div>
<%else%>
  <div>
    <form action="/new_draw">
      <button>Next Draw</button>
    </form>
  </div>
<%end%>

  