<div class="mx-3">        
<%#tart of the card%>

<div class="card">
<div class="card-header">
    <h4>Play <%=session.fetch("play_count")%></h4>
</div>
  <div class="card-body">
    <h6 class="card-title"> Question <%=@draw_count%> of 5</h6>

  <%#nesting the card withing the card header%>

  <div class="card mb-3" style="max-width: 540px;">
   <div class="row no-gutters">
   
    <div class="col-md-5">
      <img src="<%=@photo%>" alt="photo of draw">
    </div>
 
    <div class="col-md-5">
      <div class="card-body">
        <h5 class="card-title">
        </h5>
        <p class="card-text-center" style="width: 18rem;">

           <div class="mx-3">       
          <form action="/draw_result">
            <label for="query_answer">Name</label>
            <input id="query_answer" placeholder="<%=@prompt%>" name="answer" autofocus>
            <input  id="query_draw_solution" type="hidden" value="<%=@roster_record.preferred_name%>" name="draw_solution">
            <input  id="query_draw_count" type="hidden" value="<%=@draw_count%>" name="draw_count">
            <input id="query_draw_id" type="hidden" value="<%=session.fetch("draw_id")%>" name="draw_id">

          <div class="card-body">
            <button class="btn btn-primary">Submit</button>
          </div>

          </div>

          </form>
          </p>

          </div>
      <%#end of the list within the card%>

          </div>
          <div>
      </div>
    </div>
  </div>
</div>

<%#end of the nested card%>

</div>


