<div class = "container">
  <div class = "row">
    <div class ="col-md-4"><div>
    <div class ="col-md-4">
        

    <div class="card text-center" style="width: 18rem;">
      <div class="card-header">
        Play <%=session.fetch("play_count")%> - Question <%=@draw_count%>/5
      </div>
      <img src="<%=@photo%>" class="card-img-top" alt="draw photo">
      <div class="card-body">
        <p class="card-text">

         <form action="/draw_result">
          <label for="query_answer">Name</label>
          <input id="query_answer" placeholder="who is this?" name="answer">
          <input  id="query_draw_solution" type="hidden" value="<%=@roster_record.preferred_name%>" name="draw_solution">
          <input  id="query_draw_count" type="hidden" value="<%=@draw_count%>" name="draw_count">
          <input id="query_draw_id" type="hidden" value="<%=session.fetch("draw_id")%>" name="draw_id">
          <button class="btn btn-primary">Submit</button>
        </form>

        </p>

    </div>
    </div>
    </div>
    
    <div class ="col-md-4"><div>

  </div>
</div>





