<h1>Current_Play <%=session.fetch("play_id")%></h1>
<h1>Draw Number 1/5 </h1>
<div>
  <img src="<%=@photo%>">
</div>

<div>
  <form action="/draw_result">
    <label for="query_answer">Name</label>
    <input id="query_answer" placeholder="who is this?" name="answer">
    <input  id="query_draw_solution" value="<%=@roster_record.preferred_name%>" name="draw_solution">
    <input  id="query_draw_id" value="<%=@draw.id%>" name="draw_id">
    <button>Submit</button>
  </form>
</div>

<div>
  Current User: <%=@current_user.id%>
</div>

<div>
  Current Play: <%=session.fetch("play_id")%>
</div>