

<div class="mx-5">
  <table class="table" border="1">

  <tr>
      <th>Photo</th>
      <th>Correct_Answer</th>
      <th>Your Answer</th>
      <th>Points</th>
      <th></th>
  </tr>

    <%@draw_set.each do |draw|%>
    
    <tr>
      <%roster_member = Roster.all.where({:id => draw.roster_id}).at(0)%>
      <%img_url = roster_member.image%>

      <td><img src="<%=img_url%>"></td>      
      <td><%=draw.name_match%></td>
      <td><%=draw.name_attempt%></td>
      <td><%=draw.draw_result%></td>
      <td><a href="/roster/<%=draw.roster_id%>">Show details</a></td>
    </tr>
    <%end%>
  </table>


 </div>